app-main-navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.primary-header {
    height: var(--navbar-height);
    padding: var(--size-400) 0;
    justify-content: space-between;
    overflow-x: hidden;
    border-bottom: 1px solid var(--clr-neutral-dark);
    background-color: var(--clr-bg);
}

.logo {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    width: fit-content;
    color: var(--clr-primary);
}

nav {
    display: flex;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
}

.primary-navigation {
    --gap: 2em;
    
    list-style: none;
    align-items: center;
}
.primary-navigation a {
    text-decoration: none;
    color: var(--clr-primary);
}
.primary-navigation a:hover,
.primary-navigation a:focus {
    color: var(--clr-accent);
}

@media (max-width: 40em) {
    .primary-header {
        flex-direction: row;
        flex-flow: wrap;
        padding-bottom: 0;
        align-items: center;
    }

    .primary-navigation {
        --gap: 1em;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .small-menu-container {
        flex-direction: column;
        max-height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        width: 100%;
    }
    .small-menu-container[data-visible="true"] {
        max-height: 300px;
        padding-bottom: var(--size-400);
    }
    /* Prevent scrolling page while navigation menu is open; requires encapsulation on component to be disabled */
    body:has(.small-menu-container[data-visible="true"]) {
        overflow: hidden;
    }

    .menu-button {
        background-color: transparent;
        color: var(--clr-primary);
        padding: 0;
        height: fit-content;
    }
}
