:root {
    /** Hack to ensure Angular Material button text has proper contrast (e.g., `mat-slide-toggle`) */
    --mdc-theme-text-primary-on-background: var(--clr-text);
}

/* 
Color themes should be defined by thinking in terms of low-contrast (50) to high contrast (900) increments, as shown
below. For "light" themes, this means --clr-50 should be near-white (i.e. your background color), and --clr-900 should
be near-black. For "dark" themes, the inverse is true: --clr-50 should be near-black, and --clr-900 is near-white.

Additionally, you will need to inform Angular Material how to use a new theme defined here, as can be found in
`angular-material-themes.scss`.
*/

/* Light theme */
:root:has(#light-theme:checked) {
    --clr-neutral-light: #F3FCF0;
    --clr-neutral-dark: #575C55;

    --clr-text: var(--clr-neutral-dark);
    --clr-bg: var(--clr-neutral-light);

    --clr-primary-50: #f3f6eb;
    --clr-primary-100: #e2e8cc;
    --clr-primary-200: #cfd8ac;
    --clr-primary-300: #bcc98e;
    --clr-primary-400: #aebe77;
    --clr-primary-500: #a1b362;
    --clr-primary-600: #92a459;
    --clr-primary-700: #7e914f;
    --clr-primary-800: #6c7d47;
    --clr-primary-900: #4d5b39;
    --clr-primary: var(--clr-primary-800);
    
    --clr-accent-50: #ebebf2;
    --clr-accent-100: #cecddf;
    --clr-accent-200: #afacc9;
    --clr-accent-300: #918cb3;
    --clr-accent-400: #7c72a2;
    --clr-accent-500: #685992;
    --clr-accent-600: #615189;
    --clr-accent-700: #58477d;
    --clr-accent-800: #4f3e70;
    --clr-accent-900: #402e58;
    --clr-accent: var(--clr-accent-700);
}

/* Dark theme */
:root:has(#dark-theme:checked) {
    --clr-neutral-light: white;
    --clr-neutral-dark: black;

    --clr-text: var(--clr-neutral-light);
    --clr-bg: var(--clr-neutral-dark);

    --clr-primary-50: #224d43;
    --clr-primary-100: #2c695e;
    --clr-primary-200: #32796d;
    --clr-primary-300: #37897d;
    --clr-primary-400: #3b968a;
    --clr-primary-500: #4ca69b;
    --clr-primary-600: #64b6ac;
    --clr-primary-700: #8ccbc4;
    --clr-primary-800: #b8dfdb;
    --clr-primary-900: #e2f2f1;
    --clr-primary: var(--clr-primary-600);
    
    --clr-accent-50: #86041f;
    --clr-accent-100: #93142a;
    --clr-accent-200: #9f1c31;
    --clr-accent-300: #b02437;
    --clr-accent-400: #be2b3a;
    --clr-accent-500: #bb4451;
    --clr-accent-600: #b6646e;
    --clr-accent-700: #cc8d95;
    --clr-accent-800: #e8c5cd;
    --clr-accent-900: #f5e8eb;
    --clr-accent: var(--clr-accent-600);
}

/* Apply the color theming */
body {
    color: var(--clr-text);
    background-color: var(--clr-bg);
}
h1,
h2,
h3 {
    color: var(--clr-primary);
}
