.container {
    padding: 0 var(--size-500);
    margin: auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 320px;
}

.main-content {
    padding: var(--navbar-padding-bottom) 0;
    height: 100%;
}
