<div routerLink="{{recipe.id}}" class="card">
    <div class="preview">
        <img src="https://placehold.co/150x200" alt="Placeholder"/>
        <h3 class="recipe-name">{{recipe.name}}</h3>
        <div class="prep-stats flex">
            <ng-template [ngTemplateOutlet]="baseStats"/>
        </div>
    </div>
    <div class="more-info">
        <ng-template [ngTemplateOutlet]="baseStats"/>
        <div class="stat">
            <fa-icon [icon]="icons.wheat"/>
            {{recipe.nutritionPerServing?.carbohydrates ?? '??'}}
        </div>
        <div class="stat">
            <fa-icon [icon]="icons.bacon"/>
            {{recipe.nutritionPerServing?.totalFat ?? '??'}}
        </div>
        <div class="stat">
            <fa-icon [icon]="icons.dumbbell"/>
            {{recipe.nutritionPerServing?.protein ?? '??'}}
        </div>
    </div>
    <div class="background"></div>
</div>



<!-- The common preparation stats -->
<ng-template #baseStats>
    <div class="stat">
        <fa-icon [icon]="icons.users"/>
        {{recipe.servings}}
    </div>
    <div class="stat">
        <fa-icon [icon]="icons.clock"/>
        {{recipe.totalTime}}
    </div>
    <div class="stat">
        <fa-icon [icon]="icons.fire"/>
        {{recipe.nutritionPerServing?.calories ?? '??'}}
    </div>
</ng-template>
