<div routerLink="{{recipe.id}}" class="card">
    <div class="preview">
        <img src="https://placehold.co/150x200" alt="Placeholder"/>
        <h3 class="recipe-name">{{recipe.name}}</h3>
        <div class="prep-stats flex">
            <ng-template [ngTemplateOutlet]="baseStats"/>
        </div>
    </div>
    <div class="more-info">
        <ng-template [ngTemplateOutlet]="baseStats"/>
        <div class="stat" [tooltip]="'Carbs (g)'">
            <fa-icon [icon]="icons.wheat"/>
            <p>{{recipe.nutritionPerServing?.carbohydrates ?? '??'}}</p>
        </div>
        <div class="stat" [tooltip]="'Total Fat (g)'">
            <fa-icon [icon]="icons.bacon"/>
            <p>{{recipe.nutritionPerServing?.totalFat ?? '??'}}</p>
        </div>
        <div class="stat" [tooltip]="'Protein (g)'">
            <fa-icon [icon]="icons.dumbbell"/>
            <p>{{recipe.nutritionPerServing?.protein ?? '??'}}</p>
        </div>
    </div>
    <div class="background"></div>
</div>



<!-- The common preparation stats -->
<ng-template #baseStats>
    <div class="stat" [tooltip]="'Servings'">
        <fa-icon [icon]="icons.users"/>
        <p>{{recipe.servings}}</p>
    </div>
    <div class="stat" [tooltip]="'Cooking time (minutes)'">
        <fa-icon [icon]="icons.clock"/>
        <p>{{recipe.totalTime}}</p>
    </div>
    <div class="stat" [tooltip]="'Calories'">
        <fa-icon [icon]="icons.fire"/>
        <p>{{recipe.nutritionPerServing?.calories ?? '??'}}</p>
    </div>
</ng-template>
