:host {
    --animation-speed: 250ms;
    --card-border-radius: 10px;
    --chip-border-radius: 16px;

    flex-grow: 1;
    flex-basis: 12.5rem;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    width: 100%;
}

.card {
    position: relative;
    margin: auto;
}

.prep-stats {
    --gap: 0;
    justify-content: space-between;
}

.stat {
    display: flex;
    & fa-icon {
        padding-right: var(--size-100);
    }
}

.preview {
    transition: var(--animation-speed-slow);
    .prep-stats > .stat {
        color: var(--clr-accent);
        border-radius: var(--chip-border-radius);
    }   
    & img {
        border-radius: var(--card-border-radius);
    }
}

.more-info {
    position: absolute;
    opacity: 0;
    bottom: var(--size-200);
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-200);

    .detail-link {
        text-align: center;
    }
}

.background {
    position: absolute;
    background: var(--clr-neutral-dark);
    inset: 0;
    z-index: -1;
    opacity: 0;
    border-radius: var(--card-border-radius);

    transform: scale(.2, .9);
}

@media (prefers-reduced-motion: no-preference) {
    .card:hover {
        .preview {
            transform: translateY(-25%) scale(0.8);
            transition: transform var(--animation-speed);
    
            .recipe-name {
                animation: recipe-name var(--animation-speed) forwards;
            }
            .prep-stats {
                display: none;
            }
        }
        .more-info {
            animation: stats-transition var(--animation-speed) forwards;
        }
        .background {
            transform: scale(1.15, 1.1);
            opacity: 1;
    
            transition: 
                transform var(--animation-speed) ease-in-out,
                opacity var(--animation-speed) linear;
        }
    }
}


@keyframes recipe-name {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    40% {
        text-align: center;
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.15);
    }
}

@keyframes stats-transition {
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
