:host {
    --animation-speed-fast: 100ms;
    --animation-speed-slow: 250ms;
    --card-border-radius: 10px;
    --chip-border-radius: 16px;

    flex-grow: 1;
    flex-basis: 12.5rem;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    width: 100%;
}

.card {
    position: relative;
    margin: auto;
}

.prep-stats {
    justify-content: space-between;
}

.nutrition {
    --gap: 1rem;
}

.preview {
    transition: var(--animation-speed-slow);
    .prep-stats > .prep-stat {
        color: var(--clr-neutral-light);
        background-color: var(--clr-accent);
        border-radius: var(--chip-border-radius);
        padding: 0 12px;
    }   
    & img {
        border-radius: var(--card-border-radius);
    }
}

.more-info {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;

    --gap: 0.2rem;
    flex-direction: column;
    align-items: center;

    .prep-stats {
        columns: 2;
        column-rule: 1px solid var(--clr-neutral-light);
        text-align: center;
    }

    .prep-stat {
        & span {
            display: block;
        }
    }

    .detail-link {
        text-align: center;
    }
}

.background {
    position: absolute;
    background: var(--clr-neutral-medium);
    inset: 0;
    z-index: -1;
    opacity: 0;
    border-radius: var(--card-border-radius);

    transform: scale(.2, .9);
}

.card:hover {
    .preview {
        transform: translateY(-25%) scale(0.8);

        .recipe-name {
            animation: recipe-name var(--animation-speed-slow) forwards;
        }
        .prep-stats {
            opacity: 0;
        }
    }
    .more-info {
        opacity: 1;
    }
    .background {
        transform: scale(1.15, 1.1);
        opacity: 1;

        transition: 
            transform var(--animation-speed-slow) ease-in-out,
            opacity var(--animation-speed-fast) linear;
    }
}


@keyframes recipe-name {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    40% {
        text-align: center;
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.15);
    }
}
