.recipe-container {
    --border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--size-400);

    height: 100%;

    border-radius: var(--border-radius);
}

.image {
    border-radius: var(--border-radius);

    flex-basis: 0;
    flex-grow: 2;
    min-width: 200px;
    
    object-fit: cover;
    background-position: center;
    overflow: hidden;
}

.recipe-contents {
    flex-basis: 0;
    flex-grow: 8;
    min-width: min(500px, 100%);
}

.header {
    /* border: 3px solid red; */

    display: flex;
    gap: var(--size-400);
    flex-wrap: wrap;
}

.header-title {
    flex-grow: 1;
    min-width: 60%;
    align-content: center;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
        text-transform: uppercase;
        padding-inline: 10px;

        &:not(:last-child) {
            border-right: 1px solid var(--clr-text);
        }
    }
}

.description {
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary);
    padding: 10px;
    margin: auto 0;
    border-radius: var(--border-radius);

    flex-grow: 1;
    flex-basis: 30ch;
}

.body {
    /* border: 3px solid purple; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredients {
    /* border: 3px solid blue; */

    flex-grow: 1;

    ul {
        list-style: none;
    }
}

.ingredient-quantity {
    font-weight: var(--fw-bold);
}

.instructions { 
    /* border: 3px solid green; */

    flex-grow: 1;

    ol {
        list-style: none;
        & li::before {
            content: counter(list-item);

            font-size: var(--fs-500);
            font-weight: var(--fw-500);
            color: var(--clr-primary);
        }
    }
}
