::ng-deep mat-checkbox {
    & .mdc-checkbox__background {
        border-radius: 70% !important;
    }
}

.recipe-detail {
    height: 100%;
}

.tab-group {
    flex-grow: 1;
    background-color: var(--clr-accent-50);
    background-size: cover;
    border-radius: var(--size-600);
    padding: var(--size-400);

    @media (min-width: 40em) {
        max-width: max(300px, 40%);
    }
}
::ng-deep .mat-mdc-tab-header {
    border-radius: 100vw;
}
::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
}
::ng-deep .mdc-tab[aria-labelledby='hidden'] {
    display: none;
  }

.ingredient-list {
    list-style: none;
}

.instruction-list {
    list-style: none;

    & li {
        display: flex;
        align-items: center;
    }

    & li::before {
        counter-increment: list-item;
        content: counter(list-item);

        font-size: var(--fs-500);
        font-weight: var(--fw-500);
        
        background: var(--clr-accent);
        color: white;

        --width: 2em;
        min-width: var(--width);
        max-width: var(--width);
        aspect-ratio: 1;

        border-radius: 50%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0.5rem;
    }
}
