<div class="recipe-container">
    <img class="image" [src]="myImage">
    <div class="recipe-contents">
        <div class="header">
            <div class="header-title">
                <h2>{{recipe.name}}</h2>
                <div class="details">
                    <div>prep {{recipe.preparationTime}} min</div>
                    <div>total {{recipe.totalTime}} min</div>
                    <div>serves {{recipe.servings}}</div>
                    <div>cal {{recipe.nutritionPerServing?.calories}}</div>
                </div>
            </div>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam eum dolore consectetur ut animi ea porro. Vitae doloribus asperiores ad neque facilis temporibus nemo. Alias nesciunt cum ex explicabo.
                <!-- {{recipe.description}} -->
            </p>
        </div>
        <div class="body">
            <div class="ingredients">
                <h3>Ingredients</h3>
                <ul>
                    <li *ngFor="let ingredient of recipe.ingredients">
                        <mat-checkbox>
                            <span class="ingredient-quantity">
                                {{ingredient.quantity.value}} {{ingredient.quantity.unit}}
                            </span>
                            <span class="ingredient-name">{{ingredient.food.name}}</span>
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
            <div class="instructions">
                <h3>Directions</h3>
                <ol>
                    <li *ngFor="let instruction of recipe.instructions">
                        {{instruction}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
