@import url(assets/css/color-themes.css);
@import url(assets/css/fonts.css);
@import url(assets/css/utility-classes.css);
@import url(assets/css/angular-material-components.css);
@import url(assets/css/misc-variables.css);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* { 
    padding: 0;
    margin: 0;
}
