.recipe-card {
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 1rem;
}

.content {
    --gap: 0rem;
    flex-direction: column;

    position: absolute;
    bottom: 0;

    width: 100%;
    padding-inline: 1rem;
    
    text-wrap: balance;
    border-radius: inherit; /* needed to prevent background from sticking out on corners */
    
    /* 
    Force the text color inside the content to be white, contrasting with the image as much as possible given our
    gradient to black inside this container. We force the gradient to start higher in the div using padding.
    */
    background: linear-gradient(rgba(255 255 255 / 0), rgba(0 0 0 / 0.8));
    padding-top: 3rem;
    & * {
        color: white;
    }
}

.bottom-row {
    --gap: 1rem;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button-link {
    flex-grow: 1;
}

.recipe-details {
    font-size: var(--fs-300);
    margin: auto;
    text-align: center;
}

.rating { 
    font-size: var(--fs-300);
}
